/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
}

html, body{ height: 100%; }

body{ min-height: 100%; }

p, a{
  font-size: 14px;
  line-height: 180%;
}

h2{
  font-size: 48px;
  color: #212121;
}

textarea{ resize: none; }

::-webkit-input-placeholder, .placeholder{ font-size: 24px; font-weight: 300; color: rgba(0, 0, 0, .3); }
::-moz-placeholder, .placeholder{ font-size: 24px; font-weight: 300; color: rgba(0, 0, 0, .3); }
:-ms-input-placeholder, .placeholder{ font-size: 24px; font-weight: 300; color: rgba(0, 0, 0, .3); }
:-moz-placeholder, .placeholder{ font-size: 24px; font-weight: 300; color: rgba(0, 0, 0, .3); }

.box-component{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box-component .main-content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.box-component .main-content .texts{
  border: none;
  background: none;
  flex-grow: 1;
  padding: 5px 15px 5px 5px;
  box-sizing: border-box;
  margin: 15px 0;

  line-height: 180%;
  overflow: auto;
}

.btn{
  border-radius: 5px;
  padding: 15px;
  border: none;
  background: #3887BE;
  cursor: pointer;

  color: #fff;
  font-size: 18px;
}
